@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
  font-family: "Itim", cursive;
  scrollbar-width: thin;
  outline: none;
}

.divider {
  margin: 8px;
  background-color: #64748b;
  display: flex;
  height: 2px;
  border-radius: 12px;
}

@layer greentext {
  .light-green {
    @apply text-green-600;
  }
  .dark-green {
    @apply text-green-400;
  }
}

.auth-input {
  @apply w-full dark:bg-slate-700 bg-green-50 focus-visible:bg-green-100 rounded-lg px-5 py-3 text-xl dark:text-slate-100 text-slate-800 border-[1px] border-green-400 focus-visible:outline-green-400 outline-2;
}
