@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Itim", cursive;
}

*::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: #3b82f6;
  border-radius: 20px;
}

.divider {
  margin: 8px;
  background-color: #64748b;
  display: flex;
  height: 2px;
  border-radius: 12px;
}

.transparent-bg {
  background: transparent;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

@layer greentext {
  .light-green {
    @apply text-green-600;
  }
  .dark-green {
    @apply text-green-400;
  }
}